{%extends "base.html"%}
{%block title%}Meme {%endblock%}


{%block content%}
<script>
    function confirmAction() {
        var confirmed = confirm("Are you sure you want to confirm?");
        if (confirmed === true) {
            // If user confirms, submit the form
            document.getElementById("confirmActionInput").value = "confirmed";
        } 
        else
        {
            document.getElementById("confirmActionInput").value = "cancelled";
        }
    }
</script>

<form method="POST">
    <h3 align="center">Meme</h3>
    <div class="form-group">
        <label>Press a button</label>
        <input type="hidden" name="confirm_action" id="confirmActionInput" value="">
        <button type="submit" class="btn btn-primary" name="btn3" value="btn3" onclick="confirmAction()">Number 3</button>
        <button type="submit" class="btn btn-primary" name="btn4" value="btn4">Get API Data</button>
    </div>
    <div class="form-group">
        <label for="keyword">Search</label>
        <input
            type="text"
            class="form-control"
            id="keyword"
            name="keyword"
            placeholder="Begin search by typing in anything..."
            autocomplete="off"
        />
        <br/>
        <button type="submit" class="btn btn-primary" name="search" value="search">Search</button>
    </div>
</form>
<div>
    <p>{{output}}</p>
</div>

<div class="result">
    <table class="table">
        <tr>
            <th>Results</th>
        </tr>
        {% for res in results %}
            <tr class="clicker">
                <td>{{res.name}}</td>
            </tr>
            {% for dis in dis_as_list[loop.index-1] %}
            <tr class="clicker-content">
                <td>{{dis}}</td>
            </tr>
            {% endfor %}

        {% endfor %}
    </table>
</div>
<script src="{{ url_for('static', filename='js/clicker.js') }}"></script>
{%endblock%}
