<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  
<table>
<table>
  <tr class="clicker">
    <td>clicker</td>
  </tr>
  <tr>
    <td>some</td>
  </tr>
  <tr>
    <td>pair</td>
  </tr>
  <tr class="clicker">
    <td>clicker</td>
  </tr>
  <tr>
    <td>of</td>
  </tr>
  <tr>
    <td>rows</td>
  </tr>
</table>
<p id='demo'>Hello there</p>
<script src="{{ url_for('static', filename='js/clicker.js') }}"></script>